<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>

<body>

    <div>
        <p>{{siteInformation.name}}</p>
        <p>{{siteInformation.url}}</p>
        <p>{{siteInformation.creationDate}}</p>
    </div>

</body>
</html>