<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>

<body>

<div>
    {{#each items}}
        <h1>{{author}}</h1>
        <p>{{title}}</p>
        <p>{{text}}</p>
        <p>{{category}}</p>
        <p>{{createdAt}}</p>
    {{/each}}

    {{#if isNew}}
        <p>This is news</p>
    {{/if}}
</div>

</body>
</html>