<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>

<body>

<div>
    <div>
        <p>USERS:</p>
        {{#each users}}
            <p>{{firstName}}</p>
            <p>{{lastName}}</p>
        {{/each}}
    </div>
</div>

</body>
</html>